<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Top 2000</title>
</head>

<body>
    <div class="container">
        <h2>Jouw TOP 2000 lijst</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 20%;">Album</th>
                    <th scope="col" style="width: 20%;">Artiest</th>
                    <th scope="col" style="width: 40%;">Titel</th>
                    <th scope="col">Plek</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < data.albumcoverarray.length ; i++) { %>
                <tr>
                    <td>
                        <img src="<%= data.albumcoverarray[i]%>" class="img-responsive" style="width: 50%;">
                    </td>
                    <td> <%= data.artiestarray[i] %> </td>
                    <td> <%= data.nummerarray[i] %> </td>
                    <td> <%= data.plekarray[i] %> </td>
                    <% } %>
                </tr>
        </table>
    </div>
</body>